  <div class="container-fluid ml-3">
    <div class="mb-0 mt-4">
      <i class="fa fa-tasks"></i> Project Logs</div>
       <hr class="mt-2">
    {{#if isEmpty}}
    <div class="ml-2 my-2">
      <h3>You dont have Logs for this project !<h3>
    </div>
    {{else}}

    {{#each logs}}
<div class="card m-2 text-center" >
  <h6 class="card-title my-2"><a href="{{link}}">Context: {{context}}</a></h6>
  <h6 class="card-title my-2">Done By: {{username}}</h6>
  <h6 class="card-title my-2">Finished in: {{mdate}}</h6>

</div>
    {{/each}}

</div>
  {{/if}}
