<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  {{> nav}}
  {{> projectNav}}
</nav>

<div class="content-wrapper">
  <div class="container-fluid ml-2">
    <div class="mb-0 mt-4">
      <i class="fa fa-list-alt"></i> Current Sprint</div>
      <hr class="mt-2">

      <div class="statesContainer">
        <div class="statesWrapper">
           <!-- Backlog  -->
          <div id="backlog" onload="renderBacklog()" class="col-3 my-1 stateColumn" ondrop="dropBacklog(event)" ondragover="allowDrop(event)">
             <div class="font-weight-bold text-center my-3 mt-4">Backlog</div>
             <div class="addTaskDiv">
               <button type="button" id="addTaskButton" class="btn btn-sm btn-block font-weight-bold my-3"> + Add Task </button>
             </div>
             <div class="stateTasks">

             </div>
           </div>

          <!-- In progress -->
            {{#if hasCurrentSprint}}
            <div class="sprintStates" onload="walid()">
              <div id="sprint-{{sprintId}}">
                {{#each states}}
                  <div class="col-3 my-1 stateColumn" id="state-{{id}}" onload="loadState({{id}})"  ondrop="drop(event)" ondragover="allowDrop(event)">
                   <div class="font-weight-bold text-center my-3 mt-4">{{name}}</div>
                   <div class="stateTasks">

                   </div>
                  </div>
                {{/each}}
              </div>
            </div>
            {{else}}
            <div class="sprintStates">
              <div class="startSprintDiv">
                <h1>There is no Sprints running for now!</h1>
                <h2>Do you want to start new sprint?</h2>
                <button id="startSprintButton" class="btn btn-primary">Start new sprint</button>
              </div>
              <form id="startSprintForm" class="hidden">
                <label>Sprint Duration
                  <input type="number" name="durationNumber" value="1" required>
                  <select name="duration">
                    <option value="7">W</option>
                    <option value="1">D</option>
                  </select>
                </label>
                <input type="submit" name="submit" value="Start!">
              </form>
            </div>
            {{/if}}

        </div>
      </div>







<!-- <form id="addTaskForm" action="/projects/{{project_id}}/addTask" method="post">
  <label>Title : <input type="text" name="title" value="" placeholder="Enter task name.." required></label>
  <label>description : <input type="text" name="description" value="..." placeholder="Enter task description.."></label>
  <label>priority :
    <select name="priority">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </label>
  <label>deadline<input type="date" name="deadline" value="2014-02-09" required></label>
  <label>Duration<input type="number" name="duration" value="1" required>
    <select name="duration">
      <option value="1">H</option>
      <option value="24">D</option>
      <option value="168">W</option>
    </select>
  </label>
  <input type="submit" name="submit" value="Create Task!">
</form> -->
