<h6 class="card-title " id ="labels">Labels: <span class="badge badge-danger"</span></h6>
{{#if isEmpty}}
<div class="ml-2 my-2">
  <h3>There is no Labels for this task!<h3>
</div>
{{else}}
{{#each labels}}
  <button style="background-color:{{color}};border-color:{{color}};" type="button" data-toggle="tooltip" title="{{title}}" class="btn  btn-sm pull-left mb-2 label">{{title}}</button>
{{/each}}
{{/if}}
